/* Some custom and temporal utility classes
* they need to be standarized.
*/

.c-dg {
  display: grid;
}
.c-gap-2 {
  gap: 1.5rem;
}
.c-place-center {
  place-items: center;
}
.c-ff-patua {
  font-family: 'Patua One', cursive;
}
.c-cg {
  color: #4F4F4F;
}

#logo img {
  object-fit: cover;
}

/* Projects */
.projects {
  width: 100%;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}
@keyframes scaleProject {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.project {
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-sizing: inherit;
  opacity: 1;
  animation: 750ms ease-out 0s 1 scaleProject;
}
.project_link-container {
  text-decoration: none;
  color: rgb(221, 26, 26);
  display: block;
  position: relative;
  font-family: 'K2D', sans-serif;
}
.project_title {
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 500;
  color: white; /* Improve the contrast of this text */
  z-index: 1;
  letter-spacing: 0;
}
.project_title, .project_info-wrapper {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 9.375%;
}
.project_image-wrapper {
  margin: 0;
  display: flex;
  flex-flow: column;
}
.project_image {
  width: 100%;
  object-fit: cover;
}
.project_info-wrapper {
  background: black;
  bottom: 0;
  opacity: 0;
  padding: 17.1875% 9.375%;
  transition: all 750ms ease-in-out;
}
.project_info {
  padding: 3.8461538% 0;
  margin: 0;
  font-weight: lighter;
  font-size: 1.125em;
  color: white;
  line-height: 1.388888889em;
}
.project-skills {
  box-sizing: border-box;
  flex-flow: row wrap;
  display: none;
  justify-content: flex-end;
}
.project-skills span {
  color: white;
  font-size: 1em;
  background: #D78D20;
  margin: 0;
  border-radius: 2px;
  font-family: system-ui;
}
.project-button {
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  background: rgba(72, 151, 212, 0.83);
  display: none;
  padding: 20px;
}
.project-button a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}
.project:hover .project_info-wrapper { /* This is a good trick */
  background: rgba(0, 0, 0, 0.700);
  bottom: 0;
  opacity: 1;
}
.project:hover .project-button {
  display: block;
}

@media screen and (max-height: 430px) and (orientation:landscape) {
  #menu #logo {
      display: none;
    }
}

@media screen and (min-width: 400px) {
  /* Projects */
  .project {
    max-width: 450px;
  }
  .project_title {
    font-size: 1.25em;
  }
  .project_info {
    font-weight: lighter;
    font-size: 1.25em;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 640px) {
  /* Projects */
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project {
    width: 50%;
    margin: 0;
    box-sizing: inherit;
  }
  .project_title {
    font-size: 1.120em;
  }
  .project_info {
    font-size: 1.125em;
    line-height: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  /* Projects */
  .projects {
    max-width: 100%;
    margin: 0 auto;
    transition: all 1s ease-in-out;
  }
  .project {
    min-width: 300px;
    width: 25%;
    max-width: 400px;
    box-sizing: inherit;
    /* border-bottom: 1px solid #00000031; */
  }
}
