<article class="project" aria-label="interactive flipping card on mouse over" aria-hidden="false">
    <div class="project_link-container">
        <h1 class="project_title">${project.title}</h1>
        <figure class="project_image-wrapper">
            <img class="project_image" src="${project.cover}" alt="${project.title}" title="${project.title}">
            <figcaption class="project_info-wrapper" title="${project.title}">
                <p class="project_info">${project.description}</p>
                <div class="project-skills">
                    ${project.tags.map(tag => '<span>' + tag + '</span>').join('')}
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="project-button">
        <a href="${project.url}" title="Go to project ${project.title}" rel="external">
            View project <i class="fas fa-external-link-alt"></i>
        </a>
    </div>
</article>
